In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [ ]:
#msndate, tgt_location, naf, aircraft_name, total_tons

Data Prep

In [2]:
df = pd.read_csv('thor_data.csv', parse_dates=['MSNDATE'])

In [27]:
df["long_lat"] = list(zip(df["LATITUDE"], df["LONGITUDE"]))

In [34]:
df

         MSNDATE  TOTAL_TONS  NAF AIRCRAFT_NAME        long_lat
0     1942-07-12        35.0    9           B17  (48.13, 11.58)
1     1942-10-21         8.0    9           B17  (49.63, -1.62)
2     1942-10-21         8.0    9           B17  (49.63, -1.62)
3     1942-10-21         8.0    9           B17  (49.63, -1.62)
4     1943-01-23        10.0    8           B17  (47.75, -3.35)
...          ...         ...  ...           ...             ...
21338 1945-05-01        21.0    9           B26  (45.67, 10.67)
21339 1945-05-01        77.0   15           B17  (47.78, 13.03)
21340 1945-05-01        21.0    9           B26  (45.67, 10.67)
21341 1945-05-01         0.0    8           B26  (49.63, 13.17)
21342 1945-05-01        21.0    9           B26  (45.67, 10.67)

[21343 rows x 5 columns]

In [33]:
df = df[["MSNDATE", "TOTAL_TONS", "NAF", "AIRCRAFT_NAME","long_lat"]]

In [52]:
x = df.iloc[:, [0,1,2,3]].values
y = df.iloc[:, [4]].values

x[:,0] = LabelEncoder().fit_transform(x[:,0])
x[:,3] = LabelEncoder().fit_transform(x[:,3])

y[:,0] = LabelEncoder().fit_transform(x[:,0])
y=y.astype('int')

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [54]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Training the Naive Bayes model on the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

classifier.fit(x_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(x_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
ac = accuracy_score(y_test,y_pred)
cm = confusion_matrix(y_test, y_pred)

C:\Users\Winston\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [55]:
ac

0.9960178027641133

In [46]:
cm

array([[5, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 6, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 3, 0, 0],
       [0, 0, 0, ..., 0, 5, 0],
       [0, 0, 0, ..., 1, 0, 1]], dtype=int64)